.top {
    border-top: 1px solid #CBCBCB;
    margin-bottom: 232px;
    position: relative;
    h2 {
        text-align: center;
        margin-top: 100px;
        font-weight: 600;
        font-size: 45px;
        line-height: 25.56px;
        span {
            color: var(--purple);
        }
    }

    Button a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #ACADB9; 
        font-size: 20px;
        cursor: pointer;
        margin-top: 65px;
        right: 3%;
        position: absolute;

        & img {
            width: 20px;
            height: 20px;
        }
    }
    
}

