.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центровка по горизонтали */
    justify-content: center;
    width: 1280px; /* Фиксированная ширина */
    height: 200px; /* Фиксированная высота */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    /* Высота занимает весь экран */
    overflow: hidden;
    box-sizing: border-box;
}

.home-assets {
    position: absolute;
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    width: 1440px; /* Фиксированная ширина */
    height: 220px; /* Фиксированная высота */
    display: flex;
    justify-content: space-between; /* Равномерное распределение текста */
    align-items: center;
    color: white; /* Цвет текста */
    border-radius: 10px; /* Опционально: закругленные углы */
}

.home img {
    width: 1400px;
    height: 220px;
    margin: 0 auto;
}

.home-assets div {
    text-align: center;
    position: relative;
    flex: 1; /* Равное распределение ширины между блоками */
}

.home-assets div::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background-color: #c5c5c52f;
}

.home-assets div:first-child::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: white;
}

.home-assets div:last-child::after {
    display: none; /* Убираем бордер у последнего элемента */
}

.home-assets {
    position: absolute;
    bottom: 20%; /* Располагаем текст выше нижнего края */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7%; /* Отступы с краёв */
}

.home-assets div {
    text-align: center;
}

.home-assets h3 {
    font-size: 54px; /* Размер чисел */
    margin: 0;
    color: #FFFFFF;
}

.home-assets p {
    font-size: 15px;
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: #CBD5E1; /* Цвет текста */

}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column; /* Располагаем элементы друг под другом */
        text-align: center;
    }

    .home img {
        width: 100%; /* Элементы занимают всю ширину */
    }

    .home h3 {
        font-size: 2rem; /* Уменьшаем размер заголовка */
    }

    .home p {
        font-size: 1rem; /* Уменьшаем размер текста */
    }
}