.top {
    border-top: 1px solid #CBCBCB;
    margin-bottom: 232px;
    h2 {
        text-align: center;
        margin-top: 100px;
        font-weight: 600;
        font-size: 45px;
        line-height: 25.56px;
        span {
            color: var(--purple);
        }
    }
}

